<h1>Secrets Index</h1>
<% if session[:user_id] %>
	<% @secrets.each do |secret| %>
		<p><%= secret.content %></p>
		<form action="/secrets/<%= secret.id %>" method="post">
  			<input type="hidden" name="_method" value="delete">
 			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  			<input type='submit' value='Delete'>
		</form>
	<% end %>		
<% end %>